  /* Github Icon */
  img{
    display: block;

    /* Adjusts position relative to top of margin */
    margin-top: 30px;

    /* Centers image between LR margins */
    margin-left: auto;
    margin-right: auto;
    width: 2.25%;
  }